<!doctype html>
<html lang='en'>
<head>
    <%- include('partials/head-element') %>
    <title>Audience Serv</title>
</head>
<body>
<%- include('partials/header') %>
<main class='about-us'>
    <%- include('components/about-us/banner') %>

    <div class='container-fluid px-xl-5'>
        <div class='row'>
            <div class='col-xl-12'>
                <div class='mt-100 text-center'><img src="images/intro.png" alt=""></div>
            </div>
        </div>
    </div>

    <%- include('components/about-us/specialist') %>
    <%- include('components/about-us/meet-the-team') %>
    <%- include('components/about-us/values-vision') %>
    <%- include('components/about-us/awards') %>
    <%- include('components/about-us/join-us') %>
</main>
<%- include('partials/footer') %>
<%- include('partials/js-element') %>
</body>
</html>