<!doctype html>
<html lang='en'>
<head>
    <%- include('partials/head-element') %>
    <title>Audience Serv</title>
</head>
<body>
<%- include('partials/header') %>
<main class='blog'>
    <div class='container-fluid px-xl-5'>
        <div class='row'>
            <div class='col-xl-12'>
                <div class='text-center'><img src="images/image29.png" alt=""></div>
            </div>
        </div>
    </div>
    <%- include('components/blog/recent-blog') %>
    <%- include('components/blog/all-blog') %>
</main>
<%- include('partials/footer') %>
<%- include('partials/js-element') %>
</body>
</html>