<!doctype html>
<html lang='en'>
<head>
    <%- include('partials/head-element') %>
    <title>Audience Serv</title>
</head>
<body>
<%- include('partials/header') %>
<main class='email-marketing'>
    <%- include('components/email-marketing/banner') %>
    <%- include('components/index/clients') %>
    <%- include('components/email-marketing/drive-traffic') %>
    <%- include('components/email-marketing/database-overview') %>
    <%- include('components/email-marketing/customer-acquisition') %>
    <%- include('components/index/feedback-client') %>
    <%- include('components/index/case-studies') %>
    <%- include('components/email-marketing/lets-talk') %>
</main>
<%- include('partials/footer') %>
<%- include('partials/js-element') %>
</body>
</html>