<!doctype html>
<html lang='en'>
<head>
    <%- include('partials/head-element') %>
    <title>Audience Serv</title>
</head>
<body>
<%- include('partials/header') %>
<main class='imprint'>
    <%- include('components/imprint/banner') %>
</main>
<%- include('partials/footer') %>
<%- include('partials/js-element') %>
</body>
</html>