<!doctype html>
<html lang='en'>
<head>
    <%- include('partials/head-element') %>
    <title>Audience Serv</title>
</head>
<body>
<%- include('partials/header') %>
<main class='livesend'>
    <%- include('components/livesend/banner') %>
    <%- include('components/index/clients') %>
    <%- include('components/livesend/revolution') %>
    <%- include('components/livesend/the-power') %>
    <%- include('components/livesend/case-study') %>
    <%- include('components/email-marketing/lets-talk') %>
</main>
<%- include('partials/footer') %>
<%- include('partials/js-element') %>
</body>
</html>