<!doctype html>
<html lang='en'>
<head>
    <%- include('partials/head-element') %>
    <title>Audience Serv</title>
</head>
<body>
<%- include('partials/header') %>
<main class='solutions'>
    <%- include('components/solutions/banner') %>
    <%- include('components/solutions/customer-acquisition') %>
    <%- include('components/solutions/lets-talk') %>
</main>
<%- include('partials/footer') %>
<%- include('partials/js-element') %>
</body>
</html>