<!doctype html>
<html lang='en'>
<head>
    <%- include('partials/head-element') %>
    <title>Audience Serv</title>
</head>
<body>
<%- include('partials/header') %>
<main class='template-creation'>
    <%- include('components/template-creation/banner') %>
    <%- include('components/index/clients') %>
    <%- include('components/template-creation/your-package') %>
    <%- include('components/template-creation/your-design') %>
</main>
<%- include('partials/footer') %>
<%- include('partials/js-element') %>
</body>
</html>