<!doctype html>
<html lang='en'>
<head>
    <%- include('partials/head-element') %>
    <title>Audience Serv</title>
</head>
<body>
<%- include('partials/header') %>
<main class='terms-conditions'>
    <%- include('components/terms-conditions/banner') %>
    <div class='container'>
        <div class='row'>
            <div class='col-12 mt-5'>
                <p class='fs-1 fw-bold'>
                    Welcome to the revolution
                </p>
                <p>
                    BERLIN, GERMANY, NOVEMBER 29TH, 2022.
                </p>
                <p>Audience Serv has again won the Deloitte Technology Fast 50 Award - this time for the third year in a
                row. With the award, Deloitte honors the 50 fastest growing technology companies. 50 companies are
                selected for the renowned ranking based on percentage sales growth over the past four financial years.
                This time Audience Serv ranks 50.</p>
                <p>The continued growth of Audience Serv is a direct result of its innovative solutions for acquiring new
                customers and generating leads. With new platforms for vertical based lead generation such as The
                Advisr, the international specialist for new customer acquisition launched another owned and operated
                platform for generating highly qualified hot leads this year. With self-operated online portals,
                Audience Serv brings together the targeted demand for offers from end consumers and the appropriate
                offers from advertisers. The Advisr is currently active in several European countries such as Spain,
                France and the UK, but expansion into other markets is also planned.</p>
                <p>The continued growth of Audience Serv is a direct result of its innovative solutions for acquiring new
                customers and generating leads. With new platforms for vertical based lead generation such as The
                Advisr, the international specialist for new customer acquisition launched another owned and operated
                platform for</p>
                <p>BERLIN, GERMANY, NOVEMBER 29TH, 2022.</p>
                <p>Audience Serv has again won the Deloitte Technology Fast 50 Award - this time for the third year in a
                row. With the award, Deloitte honors the 50 fastest growing technology companies. 50 companies are
                selected for the renowned ranking based on percentage sales growth over the past four financial years.
                This time Audience Serv ranks 50.</p>
                <p>The continued growth of Audience Serv is a direct result of its innovative solutions for acquiring new
                customers and generating leads. With new platforms for vertical based lead generation such as The
                Advisr, the international specialist for new customer acquisition launched another owned and operated
                platform for generating highly qualified hot leads this year. With self-operated online portals,
                Audience Serv brings together the targeted demand for offers from end consumers and the appropriate
                offers from advertisers. The Advisr is currently active in several European countries such as Spain,
                France and the UK, but expansion into other markets is also planned.</p>
                <p>The continued growth of Audience Serv is a direct result of its innovative solutions for acquiring new
                customers and generating leads. With new platforms for vertical based lead generation such as The
                Advisr, the international specialist for new customer acquisition launched another owned and operated
                platform for</p>
            </div>
        </div>
    </div>
</main>
<%- include('partials/footer') %>
<%- include('partials/js-element') %>
</body>
</html>