<!doctype html>
<html lang='en'>
<head>
    <%- include('partials/head-element') %>
    <title>Audience Serv</title>
</head>
<body>
<%- include('partials/header') %>
<main class='why-email-marketing'>
    <%- include('components/why-email-marketing/banner') %>

    <div class='container-fluid px-xl-5'>
        <div class='row'>
            <div class='col-xl-12'>
                <div class='mt-100 text-center'><img src="images/image17.png" alt=""></div>
            </div>
        </div>
    </div>

    <%- include('components/why-email-marketing/still-matters') %>

    <div class='container-fluid px-xl-5'>
        <div class='row'>
            <div class='col-xl-12'>
                <div class='mt-100 text-center'><img src="images/image18.png" alt=""></div>
            </div>
        </div>
    </div>

    <%- include('components/why-email-marketing/statistics') %>
    <%- include('components/why-email-marketing/benefits') %>
    <%- include('components/why-email-marketing/boost-company-growth') %>
    <%- include('components/why-email-marketing/lets-talk') %>
</main>
<%- include('partials/footer') %>
<%- include('partials/js-element') %>
</body>
</html>